body{
	text-align: center; 
	font-family:Comic Sans MS;
}

ul{
	list-style-type: none;
	width: 100%;
	margin-top: 0px;
}

li{
	float:left;
	padding-left: 15px;
}

hr{
	width:100%;
	margin:0px;
}

h1{
	font-family: "Racing Sans One", georgia, sans-serif;
	color: #ffc107;
}
.bottomLine{
	margin-top: -9px;
}

a:link{
	color:blue;
}

a:visited{
	color:red;
}

a:hover{
	font-weight: bold;
}

a:active{
	text-decoration: none;
}


table{
	width:100%;
	margin-bottom: 1.5%;
}