ul{
	text-align: left;
	font-style: italic;
}

.band{
	margin: 0px;
}

a:link,a:visited,a:active{
	text-decoration: none;
	color:blue;
}

a:hover{
	text-decoration:underline;
	background-color: #aed581;
}

tbody{
	font-style: italic;
}

table{
	background-color: #b2ebf2;
}

