body{
	background-color: #000;
}
.container{
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	width:100%;
	height: 500px;
	position: relative;
	z-index: 1;
}
.gameName{
	padding-top:10%;
}
input{
	margin:1%;
}
#play{
	padding: 1% 3% 1% 3%;
}
table#results{
	width:35%;
	background-color: #f5f5f5;
	border-color: #fff;
}
th{
	background-color: #bdbdbd;
}
#tableHead{
	text-align: center;
	font-size: 2rem;
	text-decoration: underline;
	color: #000;
	background-color: #f5f5f5;
}